<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.linuxtools.tmf.ui.tracetypeui">
      <type
            icon="icons/open-tracing.png"
            tracetype="org.eclipse.tracecompass.incubator.opentracing.core">
         <perspective
               id="org.eclipse.tracecompass.incubator.opentracing.ui.perspective">
         </perspective>
      </type>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.tracecompass.incubator.internal.opentracing.ui.view.life.SpanLifeView"
            class="org.eclipse.tracecompass.incubator.internal.opentracing.ui.view.spanlife.SpanLifeView"
            icon="icons/spanslife.png"
            id="org.eclipse.tracecompass.incubator.opentracing.ui.view.life.spanlife.view"
            name="Spans Life"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.linuxtools.tmf.core.analysis">
      <output
            class="org.eclipse.tracecompass.tmf.ui.analysis.TmfAnalysisViewOutput"
            id="org.eclipse.tracecompass.incubator.opentracing.ui.view.life.spanlife.view">
         <analysisModuleClass
               class="org.eclipse.tracecompass.incubator.internal.opentracing.core.analysis.spanlife.SpanLifeAnalysis">
         </analysisModuleClass>
      </output>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.eclipse.tracecompass.incubator.internal.opentracing.ui.views.OpenTracingPerspectiveFactory"
            icon="icons/open-tracing.png"
            id="org.eclipse.tracecompass.incubator.opentracing.ui.perspective"
            name="Open Tracing">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.eclipse.tracecompass.incubator.opentracing.ui.split"
            name="%opentracing.split.name">
      </command>
      <command
            categoryId="org.eclipse.ui.category.file"
            defaultHandler="org.eclipse.tracecompass.incubator.internal.opentracing.ui.project.handlers.FetchJaegerTracesHandler"
            description="%command.fetch.jaeger.description"
            id="org.eclipse.tracecompass.incubator.opentracing.ui.fetchJaeger"
            name="%command.fetch.jaeger.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.tracecompass.incubator.internal.opentracing.ui.project.handlers.SplitTracesHandler"
            commandId="org.eclipse.tracecompass.incubator.opentracing.ui.split">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
        <command
               commandId="org.eclipse.tracecompass.incubator.opentracing.ui.split"
               label="%opentracing.split.label"
               style="push">
            <visibleWhen
                  checkEnabled="true">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <instanceof
                           value="org.eclipse.tracecompass.tmf.ui.project.model.TmfTraceElement">
                     </instanceof>
                     <and>
                        <test
                              property="org.eclipse.linuxtools.tmf.ui.traceType"
                              value="org.eclipse.tracecompass.incubator.opentracing.core">
                        </test>
                     </and>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=group.open">
         <command
               commandId="org.eclipse.tracecompass.incubator.opentracing.ui.fetchJaeger"
               label="%command.fetch.jaeger.label"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate
                        operator="and">
                     <instanceof
                           value="org.eclipse.tracecompass.tmf.ui.project.model.TmfTraceFolder">
                     </instanceof>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
</plugin>
