<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.linuxtools.tmf.core.tracetype">
      <type
            category="org.eclipse.tracecompass.incubator.sqlite.category"
            event_type="org.eclipse.tracecompass.tmf.core.event.TmfEvent"
            id="org.eclipse.tracecompass.incubator.sqlite.trace"
            isDirectory="false"
            name="SQLite"
            trace_type="org.eclipse.tracecompass.incubator.internal.sqlite.core.trace.SQLiteTrace">
      </type>
      <category
            id="org.eclipse.tracecompass.incubator.sqlite.category"
            name="SQLite">
      </category>
   </extension>
</plugin>
