<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
		point="org.eclipse.ui.views">

		<view
			category="org.eclipse.linuxtools.tmf.ui.views.category"
			class="org.eclipse.tracecompass.incubator.internal.executioncomparison.ui.ExecutionComparisonView"
			id="org.eclipse.tracecompass.incubator.internal.executioncomparison.ui.execComparison"
			name="Execution Comparison"
			restorable="true">
		</view>
	</extension>
	<extension
		point="org.eclipse.linuxtools.tmf.core.analysis">

		<output
			class="org.eclipse.tracecompass.tmf.ui.analysis.TmfAnalysisViewOutput"
			id="org.eclipse.tracecompass.incubator.internal.executioncomparison.ui.execComparison">
			<analysisModuleClass
				class="org.eclipse.tracecompass.incubator.internal.executioncomparison.core.DifferentialSeqCallGraphAnalysis">
			</analysisModuleClass>
		</output>
	</extension>
</plugin>
