<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.eclipse.tracecompass.incubator.internal.ros2.ui.views.category"
            name="%ros2.name"
            parentCategory="org.eclipse.linuxtools.tmf.ui.views.category">
      </category>
      <view
            category="org.eclipse.tracecompass.incubator.internal.ros2.ui.views.category"
            class="org.eclipse.tracecompass.incubator.internal.ros2.ui.views.messages.Ros2MessagesView"
            icon="icons/obj16/ros2_messages.png"
            id="org.eclipse.tracecompass.incubator.ros2.ui.views.messages"
            name="%ros2.view.messages"
            restorable="true">
      </view>
      <view
            category="org.eclipse.tracecompass.incubator.internal.ros2.ui.views.category"
            class="org.eclipse.tracecompass.incubator.internal.ros2.ui.views.executor.Ros2ExecutorView"
            icon="icons/obj16/ros2_messages.png"
            id="org.eclipse.tracecompass.incubator.ros2.ui.views.executor"
            name="%ros2.view.executor"
            restorable="true">
      </view>
      <view
            category="org.eclipse.tracecompass.incubator.internal.ros2.ui.views.category"
            class="org.eclipse.tracecompass.incubator.internal.ros2.ui.views.messageflow.Ros2MessageFlowView"
            icon="icons/obj16/ros2_messages.png"
            id="org.eclipse.tracecompass.incubator.ros2.ui.views.messageflow"
            name="%ros2.view.messageflow"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.linuxtools.tmf.core.analysis">
      <output
            class="org.eclipse.tracecompass.tmf.ui.analysis.TmfAnalysisViewOutput"
            id="org.eclipse.tracecompass.incubator.ros2.ui.views.messages">
         <analysisModuleClass
               class="org.eclipse.tracecompass.incubator.internal.ros2.core.analysis.messages.Ros2MessagesAnalysis">
         </analysisModuleClass>
      </output>
      <output
            class="org.eclipse.tracecompass.tmf.ui.analysis.TmfAnalysisViewOutput"
            id="org.eclipse.tracecompass.incubator.ros2.ui.views.executor">
         <analysisModuleClass
               class="org.eclipse.tracecompass.incubator.internal.ros2.core.analysis.executor.Ros2ExecutorAnalysis">
         </analysisModuleClass>
      </output>
      <output
            class="org.eclipse.tracecompass.tmf.ui.analysis.TmfAnalysisViewOutput"
            id="org.eclipse.tracecompass.incubator.ros2.ui.views.messageflow">
         <analysisModuleClass
               class="org.eclipse.tracecompass.incubator.internal.ros2.core.analysis.messageflow.Ros2MessageFlowAnalysis">
         </analysisModuleClass>
      </output>
      <parameterProvider
            class="org.eclipse.tracecompass.incubator.internal.ros2.ui.messageflow.Ros2MessageFlowParameterProvider">
         <analysisId
               id="org.eclipse.tracecompass.incubator.ros2.core.analysis.messageflow">
         </analysisId>
      </parameterProvider>
   </extension>
   <extension
         point="org.eclipse.linuxtools.tmf.ui.tracetypeui">
      <type
            icon="icons/ros2.png"
            tracetype="org.eclipse.tracecompass.incubator.ros2.core.trace">
      </type>
      <experiment
            icon="icons/ros2.png"
            tracetype="org.eclipse.tracecompass.incubator.ros2.core.trace.Ros2Experiment">
      </experiment>
   </extension>

</plugin>
