<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.linuxtools.tmf.core.tracetype">
      <type
            category="org.eclipse.tracecompass.incubator.uftrace.category"
            event_type="org.eclipse.tracecompass.tmf.core.event.TmfEvent"
            id="org.eclipse.tracecompass.incubator.uftrace.trace"
            isDirectory="true"
            name="UFTrace"
            trace_type="org.eclipse.tracecompass.incubator.internal.uftrace.core.trace.Uftrace">
      </type>
      <category
            id="org.eclipse.tracecompass.incubator.uftrace.category"
            name="UFTrace">
      </category>
   </extension>
   <extension
         point="org.eclipse.linuxtools.tmf.core.analysis">
      <module
            analysis_module="org.eclipse.tracecompass.incubator.internal.uftrace.core.analysis.UfCallstackAnalysis"
            automatic="true"
            icon="icons/stckframe_obj.gif"
            id="org.eclipse.tracecompass.incubator.uftrace.analysis.callstack"
            name="%uftrace.callstack.name">
         <tracetype
               applies="true"
               class="org.eclipse.tracecompass.incubator.internal.uftrace.core.trace.Uftrace">
         </tracetype>
      </module>
   </extension>
   <extension
         point="org.eclipse.tracecompass.tmf.core.symbolProvider">
      <providerFactory
            class="org.eclipse.tracecompass.incubator.internal.uftrace.core.trace.Uftrace$UfTraceSymbolProviderAllegedFactory"
            id="org.eclipse.tracecompass.incubator.uftrace.core.providerfactory"
            priority="50">
      </providerFactory>
   </extension>

</plugin>
