<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.eclipse.tracecompass.incubator.internal.ros.ui.views.category"
            name="%ros.name"
            parentCategory="org.eclipse.linuxtools.tmf.ui.views.category">
      </category>
      <view
            category="org.eclipse.tracecompass.incubator.internal.ros.ui.views.category"
            class="org.eclipse.tracecompass.incubator.internal.ros.ui.views.queues.RosQueuesView"
            icon="icons/obj16/ros_queues.png"
            id="org.eclipse.tracecompass.incubator.ros.ui.views.queues"
            name="%ros.view.queues"
            restorable="true">
      </view>
      <view
            category="org.eclipse.tracecompass.incubator.internal.ros.ui.views.category"
            class="org.eclipse.tracecompass.incubator.internal.ros.ui.views.nodes.RosNodesView"
            icon="icons/obj16/ros_nodes.png"
            id="org.eclipse.tracecompass.incubator.ros.ui.views.nodes"
            name="%ros.view.nodes"
            restorable="true">
      </view>
      <view
            category="org.eclipse.tracecompass.incubator.internal.ros.ui.views.category"
            class="org.eclipse.tracecompass.incubator.internal.ros.ui.views.tasks.RosTasksView"
            icon="icons/obj16/ros_tasks.png"
            id="org.eclipse.tracecompass.incubator.ros.ui.views.tasks"
            name="%ros.view.tasks"
            restorable="true">
      </view>
      <view
            category="org.eclipse.tracecompass.incubator.internal.ros.ui.views.category"
            class="org.eclipse.tracecompass.incubator.internal.ros.ui.views.connections.RosConnectionsView"
            icon="icons/obj16/ros_connections.png"
            id="org.eclipse.tracecompass.incubator.ros.ui.views.connections"
            name="%ros.view.connections"
            restorable="true">
      </view>
      <view
            category="org.eclipse.tracecompass.incubator.internal.ros.ui.views.category"
            class="org.eclipse.tracecompass.incubator.internal.ros.ui.views.timers.RosTimersView"
            icon="icons/obj16/ros_timers.png"
            id="org.eclipse.tracecompass.incubator.ros.ui.views.timers"
            name="%ros.view.timers"
            restorable="true">
      </view>
      <view
            category="org.eclipse.tracecompass.incubator.internal.ros.ui.views.category"
            class="org.eclipse.tracecompass.incubator.internal.ros.ui.views.messageflow.RosMessageFlowView"
            icon="icons/obj16/ros_queues.png"
            id="org.eclipse.tracecompass.incubator.ros.ui.views.messageflow"
            name="%ros.view.messageflow"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.linuxtools.tmf.ui.tracetypeui">
      <type
            icon="icons/ros.png"
            tracetype="org.eclipse.tracecompass.incubator.ros.core.trace">
      </type>
   </extension>
   <extension
         point="org.eclipse.linuxtools.tmf.core.analysis">
      <output
            class="org.eclipse.tracecompass.tmf.ui.analysis.TmfAnalysisViewOutput"
            id="org.eclipse.tracecompass.incubator.ros.ui.views.nodes">
         <analysisModuleClass
               class="org.eclipse.tracecompass.incubator.internal.ros.core.analysis.nodes.RosNodesAnalysis">
         </analysisModuleClass>
      </output>
      <output
            class="org.eclipse.tracecompass.tmf.ui.analysis.TmfAnalysisViewOutput"
            id="org.eclipse.tracecompass.incubator.ros.ui.views.queues">
         <analysisModuleClass
               class="org.eclipse.tracecompass.incubator.internal.ros.core.analysis.queues.RosQueuesAnalysis">
         </analysisModuleClass>
      </output>
      <output
            class="org.eclipse.tracecompass.tmf.ui.analysis.TmfAnalysisViewOutput"
            id="org.eclipse.tracecompass.incubator.ros.ui.views.timers">
         <analysisModuleClass
               class="org.eclipse.tracecompass.incubator.internal.ros.core.analysis.timers.RosTimersAnalysis">
         </analysisModuleClass>
      </output>
      <output
            class="org.eclipse.tracecompass.tmf.ui.analysis.TmfAnalysisViewOutput"
            id="org.eclipse.tracecompass.incubator.ros.ui.views.messageflow">
         <analysisModuleClass
               class="org.eclipse.tracecompass.incubator.internal.ros.core.analysis.messageflow.RosMessageFlowAnalysis">
         </analysisModuleClass>
      </output>
      <parameterProvider
            class="org.eclipse.tracecompass.incubator.internal.ros.ui.messageflow.RosMessageFlowParameterProvider">
         <analysisId
               id="org.eclipse.tracecompass.incubator.ros.core.analysis.messageflow">
         </analysisId>
      </parameterProvider>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.eclipse.tracecompass.incubator.internal.ros.ui.perspective.RosPerspectiveFactory"
            icon="icons/ros.png"
            id="org.eclipse.tracecompass.incubator.ros.ui.perspective"
            name="%ros.perspective">
      </perspective>
   </extension>

</plugin>
