<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.linuxtools.tmf.core.tracetype">
      <experiment
            experiment_type="org.eclipse.tracecompass.incubator.internal.virtual.machine.analysis.core.trace.VirtualMachineExperiment"
            id="org.eclipse.tracecompass.extension.virtual.machine.analysis.VirtualMachineExperiment"
            name="%vm.experiment">
      </experiment>
   </extension>
   <extension
         point="org.eclipse.linuxtools.tmf.core.analysis">
      <module
            analysis_module="org.eclipse.tracecompass.incubator.internal.virtual.machine.analysis.core.virtual.resources.VirtualResourcesAnalysis"
            automatic="false"
            id="org.eclipse.tracecompass.incubator.virtual.machine.analysis.core.VirtualResourcesAnalysis"
            name="%vm.analysis">
            <tracetype
                  applies="true"
                  class="org.eclipse.tracecompass.incubator.internal.virtual.machine.analysis.core.trace.VirtualMachineExperiment">
            </tracetype>
      </module>
      <module
            analysis_module="org.eclipse.tracecompass.incubator.internal.virtual.machine.analysis.core.fused.FusedVirtualMachineAnalysis"
            automatic="false"
            id="org.eclipse.tracecompass.incubator.virtual.machine.analysis.FusedVirtualMachineAnalysis"
            icon="icons/fusedcpu.png"
            name="%vm.analysis.fused">
         <tracetype
               applies="true"
               class="org.eclipse.tracecompass.incubator.internal.virtual.machine.analysis.core.trace.VirtualMachineExperiment">
         </tracetype>
      </module>
      <module
            analysis_module="org.eclipse.tracecompass.incubator.internal.virtual.machine.analysis.core.overhead.VmOverheadAnalysis"
            automatic="false"
            id="org.eclipse.tracecompass.incubator.virtual.machine.analysis.core.overhead.analysis"
            name="%vm.analysis.overhead">
         <tracetype
               applies="true"
               class="org.eclipse.tracecompass.incubator.internal.virtual.machine.analysis.core.trace.VirtualMachineExperiment">
         </tracetype>
      </module>
      <module
            analysis_module="org.eclipse.tracecompass.incubator.internal.virtual.machine.analysis.core.model.analysis.VirtualMachineModelAnalysis"
            automatic="false"
            id="org.eclipse.tracecompass.incubator.virtual.machine.analysis.core.model.analysis"
            name="%vm.analysis.model">
         <tracetype
               applies="true"
               class="org.eclipse.tracecompass.incubator.internal.virtual.machine.analysis.core.trace.VirtualMachineExperiment">
         </tracetype>
      </module>
   </extension>
</plugin>
