<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ease.modules">
      <module
            category="org.eclipse.tracecompass.incubator.scripting.core.category"
            class="org.eclipse.tracecompass.incubator.scripting.core.analysis.AnalysisScriptingModule"
            id="org.eclipse.tracecompass.incubator.scripting.core.analysis"
            name="Analysis"
            visible="true">
      </module>
      <module
            category="org.eclipse.tracecompass.incubator.scripting.core.category"
            class="org.eclipse.tracecompass.incubator.scripting.core.data.provider.DataProviderScriptingModule"
            id="org.eclipse.tracecompass.incubator.scripting.core.dataprovider"
            name="DataProvider"
            visible="true">
      </module>
      <module
            category="org.eclipse.tracecompass.incubator.scripting.core.category"
            class="org.eclipse.tracecompass.incubator.scripting.core.utils.UtilsModule"
            id="org.eclipse.tracecompass.incubator.scripting.core.utils"
            name="Utils"
            visible="true">
      </module>
      <module
            category="org.eclipse.tracecompass.incubator.scripting.core.category"
            class="org.eclipse.tracecompass.incubator.scripting.core.filters.FiltersScriptingModule"
            id="org.eclipse.tracecompass.incubator.scripting.core.filters"
            name="Filters"
            visible="true">
      </module>
      <module
            category="org.eclipse.tracecompass.incubator.scripting.core.category"
            class="org.eclipse.tracecompass.incubator.scripting.core.trace.TraceScriptingModule"
            id="org.eclipse.tracecompass.incubator.scripting.core.trace"
            name="Trace"
            visible="true">
      </module>
      <module
            category="org.eclipse.tracecompass.incubator.scripting.core.category"
            class="org.eclipse.tracecompass.incubator.scripting.core.callstack.CallStackScriptingModule"
            id="org.eclipse.tracecompass.incubator.scripting.core.callstack"
            name="Callstack"
            visible="true">
      </module>
      <category
            id="org.eclipse.tracecompass.incubator.scripting.core.category"
            name="TraceCompass">
      </category>
   </extension>
   <extension
         point="org.eclipse.linuxtools.tmf.core.analysis">
      <module
            analysis_module="org.eclipse.tracecompass.incubator.internal.scripting.core.analysis.TmfScriptAnalysis"
            id="org.eclipse.tracecompass.incubator.scripting.analysis"
            name="%analysis.name">
         <tracetype
               class="org.eclipse.tracecompass.tmf.core.trace.TmfTrace">
         </tracetype>
      </module>
   </extension>
    <extension
         point="org.eclipse.tracecompass.tmf.core.dataprovider">
      <dataProviderFactory
            class="org.eclipse.tracecompass.incubator.internal.scripting.core.data.provider.ScriptingDataProviderFactory"
            id="org.eclipse.tracecompass.incubator.scripting.dataprovider">
      </dataProviderFactory>
   </extension>
   <extension
         point="org.eclipse.tracecompass.tmf.cli.parser.extension">
      <parser
            class="org.eclipse.tracecompass.incubator.internal.scripting.core.cli.ScriptCliParser"
            priority="8">
      </parser>
   </extension>
</plugin>
