<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.eclipse.tracecompass.tmf.ui.analysis.TmfAnalysisViewOutput"
         point="org.eclipse.linuxtools.tmf.core.analysis">
      <output
            class="org.eclipse.tracecompass.tmf.ui.analysis.TmfAnalysisViewOutput"
            id="org.eclipse.tracecompass.incubator.dpdk.lcore.view">
         <analysisModuleClass
               class="org.eclipse.tracecompass.incubator.internal.dpdk.core.lcore.analysis.DpdkLogicalCoreAnalysisModule">
         </analysisModuleClass>
      </output>
      <output
            class="org.eclipse.tracecompass.tmf.ui.analysis.TmfAnalysisViewOutput"
            id="org.eclipse.tracecompass.incubator.internal.dpdk.ui.ethdev.spin.statistics.view">
         <analysisModuleClass
               class="org.eclipse.tracecompass.incubator.internal.dpdk.core.ethdev.spin.analysis.DpdkEthdevSpinAnalysisModule">
         </analysisModuleClass>
      </output>
      <output
            class="org.eclipse.tracecompass.tmf.ui.analysis.TmfAnalysisViewOutput"
            id="org.eclipse.tracecompass.incubator.dpdk.ethdev.rate.view">
         <analysisModuleClass
               class="org.eclipse.tracecompass.incubator.internal.dpdk.core.ethdev.rate.analysis.DpdkEthdevRateAnalysis">
         </analysisModuleClass>
      </output>
      <output
            class="org.eclipse.tracecompass.tmf.ui.analysis.TmfAnalysisViewOutput"
            id="org.eclipse.tracecompass.incubator.dpdk.ethdev.throughput.bps.view">
         <analysisModuleClass
               class="org.eclipse.tracecompass.incubator.internal.dpdk.core.ethdev.throughput.analysis.DpdkEthdevAnalysisModule">
         </analysisModuleClass>
      </output>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.eclipse.tracecompass.incubator.internal.dpdk.ui.views.category"
            name="%category.dpdk"
            parentCategory="org.eclipse.linuxtools.tmf.ui.views.category">
      </category>
      <view
            category="org.eclipse.tracecompass.incubator.internal.dpdk.ui.views.category"
            class="org.eclipse.tracecompass.incubator.internal.dpdk.ui.lcore.LogicalCoreView"
            id="org.eclipse.tracecompass.incubator.dpdk.lcore.view"
            name="Logical Core View"
            restorable="true">
      </view>
      <view
            category="org.eclipse.tracecompass.incubator.internal.dpdk.ui.views.category"
            class="org.eclipse.tracecompass.incubator.internal.dpdk.ui.ethdev.rate.NicQueueRateView"
            id="org.eclipse.tracecompass.incubator.dpdk.ethdev.rate.view"
            name="Ethernet Rate View"
            restorable="true">
      </view>
      <view
            category="org.eclipse.tracecompass.incubator.internal.dpdk.ui.views.category"
            class="org.eclipse.tracecompass.incubator.internal.dpdk.ui.ethdev.spin.ThreadSpinStatisticsView"
            id="org.eclipse.tracecompass.incubator.internal.dpdk.ui.ethdev.spin.statistics.view"
            name="Ethernet PMD Effective Busyness"
            restorable="true">
      </view>
      <view
            category="org.eclipse.tracecompass.incubator.internal.dpdk.ui.views.category"
            class="org.eclipse.tracecompass.incubator.internal.dpdk.ui.ethdev.throughput.NicQueueThroughputView"
            id="org.eclipse.tracecompass.incubator.dpdk.ethdev.throughput.bps.view"
            name="Ethernet Throughput View"
            restorable="true">
      </view>
   </extension>

</plugin>
