<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.linuxtools.tmf.core.analysis">
      <module
            analysis_module="org.eclipse.tracecompass.incubator.internal.kernel.core.io.IoAnalysis"
            applies_experiment="true"
            automatic="false"
            icon="icons/fileaccess.png"
            id="org.eclipse.tracecompass.incubator.internal.kernel.core.io"
            name="%kernel.io.name">
         <tracetype
               applies="true"
               class="org.eclipse.tracecompass.analysis.os.linux.core.trace.IKernelTrace">
         </tracetype>
         <tracetype
               applies="false"
               class="org.eclipse.tracecompass.tmf.core.trace.experiment.TmfExperiment">
         </tracetype>
      </module>
      <module
            analysis_module="org.eclipse.tracecompass.incubator.internal.kernel.core.callstack.context.ContextCallStackAnalysis"
            id="org.eclipse.tracecompass.incubator.kernel.core.callstack.core.context"
            name="%analysis.callstack.context">
         <tracetype
               applies="true"
               class="org.eclipse.tracecompass.analysis.os.linux.core.trace.IKernelTrace">
         </tracetype>
      </module>
      <module
            analysis_module="org.eclipse.tracecompass.incubator.internal.kernel.core.criticalpath.CriticalPathAggregatedModule"
            id="org.eclipse.tracecompass.incubator.kernel.core.criticalpath.aggregated"
            name="%analysis.criticalpath.aggregated">
         <tracetype
               class="org.eclipse.tracecompass.tmf.core.trace.TmfTrace">
         </tracetype>
      </module>
   </extension>
   <extension
         point="org.eclipse.tracecompass.tmf.core.dataprovider">
      <dataProviderFactory
            class="org.eclipse.tracecompass.incubator.internal.kernel.core.fileaccess.FileAccessDataProviderFactory"
            id="org.eclipse.tracecompass.incubator.kernel.core.file.access.dataprovider">
      </dataProviderFactory>
      <dataProviderFactory
         class="org.eclipse.tracecompass.incubator.internal.kernel.core.io.IoPerProcessDataProviderFactory"
         id="org.eclipse.tracecompass.incubator.kernel.core.io.per.process">
      </dataProviderFactory>
      <dataProviderFactory
         class="org.eclipse.tracecompass.incubator.internal.kernel.core.io.IoAccessDataProviderFactory"
         id="org.eclipse.tracecompass.incubator.kernel.core.io.access.dataprovider">
      </dataProviderFactory>
      <dataProviderFactory
         class="org.eclipse.tracecompass.incubator.internal.kernel.core.inputoutput.DiskRequestDataProviderFactory"
         id="org.eclipse.tracecompass.incubator.kernel.core.inputoutput.DiskRequestDataProvider">
      </dataProviderFactory>
      <dataProviderFactory
            class="org.eclipse.tracecompass.incubator.internal.kernel.core.inputoutput.WaitQueueStatsDataProviderFactory"
            id="org.eclipse.tracecompass.kernel.core.inputoutput.waitqueuestatistics">
      </dataProviderFactory>
      <dataProviderFactory
            class="org.eclipse.tracecompass.incubator.internal.kernel.core.inputoutput.ExecQueueStatsDataProviderFactory"
            id="org.eclipse.tracecompass.kernel.core.inputoutput.execqueuestatistics">
      </dataProviderFactory>
   </extension>

</plugin>
