<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.linuxtools.tmf.core.analysis">
      <module
            analysis_module="org.eclipse.tracecompass.incubator.internal.kernel.core.fileacess.FileAccessAnalysis"
            applies_experiment="true"
            automatic="false"
            icon="icons/fileaccess.png"
            id="org.eclipse.tracecompass.incubator.internal.kernel.core.fileacess"
            name="%kernel.fileaccess.name">
         <tracetype
               applies="true"
               class="org.eclipse.tracecompass.analysis.os.linux.core.trace.IKernelTrace">
         </tracetype>
      </module>
   </extension>

</plugin>
