<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="tracecompass-incubator-e4.20" sequenceNumber="4">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.cdt.gnu.dsf.feature.group" version="0.0.0"/>
<unit id="org.eclipse.tm.terminal.control" version="0.0.0"/>
<repository location="https://download.eclipse.org/tools/cdt/releases/10.3/cdt-10.3.0/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.swtbot.eclipse.feature.group" version="0.0.0"/>
<unit id="org.eclipse.swtbot.feature.group" version="0.0.0"/>
<unit id="org.eclipse.swtbot.generator.feature.feature.group" version="0.0.0"/>
<repository location="https://download.eclipse.org/technology/swtbot/releases/3.1.0/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.remote.core" version="0.0.0"/>
<unit id="org.eclipse.remote.ui" version="0.0.0"/>
<unit id="org.eclipse.remote.jsch.core" version="0.0.0"/>
<unit id="org.eclipse.remote.jsch.ui" version="0.0.0"/>
<repository location="https://download.eclipse.org/tools/ptp/remote/releases/3.0/remote-3.0.1/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="com.fasterxml.jackson.core.jackson-annotations" version="0.0.0"/>
<unit id="com.fasterxml.jackson.core.jackson-annotations.source" version="0.0.0"/>
<unit id="com.fasterxml.jackson.core.jackson-core" version="0.0.0"/>
<unit id="com.fasterxml.jackson.core.jackson-core.source" version="0.0.0"/>
<unit id="com.fasterxml.jackson.core.jackson-databind" version="0.0.0"/>
<unit id="com.fasterxml.jackson.core.jackson-databind.source" version="0.0.0"/>
<unit id="com.fasterxml.jackson.jaxrs.jackson-jaxrs-base" version="0.0.0"/>
<unit id="com.fasterxml.jackson.jaxrs.jackson-jaxrs-base.source" version="0.0.0"/>
<unit id="com.fasterxml.jackson.jaxrs.jackson-jaxrs-json-provider" version="0.0.0"/>
<unit id="com.fasterxml.jackson.jaxrs.jackson-jaxrs-json-provider.source" version="0.0.0"/>
<unit id="com.fasterxml.jackson.datatype.jackson-datatype-guava" version="0.0.0"/>
<unit id="com.fasterxml.jackson.datatype.jackson-datatype-guava.source" version="0.0.0"/>
<unit id="com.fasterxml.jackson.module.jackson-module-jaxb-annotations" version="0.0.0"/>
<unit id="com.fasterxml.jackson.module.jackson-module-jaxb-annotations.source" version="0.0.0"/>
<unit id="com.google.guava" version="27.1.0.v20190517-1946"/>
<unit id="jakarta.xml.bind" version="2.3.3.v20201118-1818"/>
<unit id="javassist" version="0.0.0"/>
<unit id="javax.inject" version="0.0.0"/>
<unit id="javax.ws.rs" version="0.0.0"/>
<unit id="javax.activation" version="1.1.0.v201211130549"/>
<unit id="javax.annotation" version="1.2.0.v201602091430"/>
<unit id="javax.servlet" version="0.0.0"/>
<unit id="javax.xml.bind" version="0.0.0"/>
<unit id="javax.xml.stream" version="0.0.0"/>
<unit id="javax.servlet.jsp" version="0.0.0"/>
<unit id="org.antlr.runtime" version="3.2.0.v201101311130"/>
<unit id="org.antlr.runtime.source" version="3.2.0.v201101311130"/>
<unit id="org.apache.commons.cli" version="0.0.0"/>
<unit id="org.apache.commons.compress" version="0.0.0"/>
<unit id="org.apache.commons.io" version="0.0.0"/>
<unit id="org.apache.commons.lang" version="0.0.0"/>
<unit id="org.apache.commons.lang3" version="0.0.0"/>
<unit id="org.apache.derby" version="0.0.0"/>
<unit id="org.hamcrest" version="0.0.0"/>
<unit id="org.json" version="0.0.0"/>
<unit id="org.mozilla.javascript" version="0.0.0"/>
<unit id="org.apache.xml.serializer" version="0.0.0"/>
<unit id="org.apache.commons.math3" version="0.0.0"/>
<unit id="org.apache.felix.scr" version="0.0.0"/>
<unit id="org.aopalliance" version="0.0.0"/>
<unit id="org.glassfish.hk2.api" version="0.0.0"/>
<unit id="org.glassfish.hk2.api.source" version="0.0.0"/>
<unit id="org.glassfish.hk2.locator" version="0.0.0"/>
<unit id="org.glassfish.hk2.locator.source" version="0.0.0"/>
<unit id="org.glassfish.hk2.utils" version="0.0.0"/>
<unit id="org.glassfish.hk2.utils.source" version="0.0.0"/>
<unit id="org.glassfish.jersey.inject.jersey-hk2" version="0.0.0"/>
<unit id="org.glassfish.jersey.inject.jersey-hk2.source" version="0.0.0"/>
<unit id="org.glassfish.hk2.osgi-resource-locator" version="1.0.3.v20200509-0149"/>
<unit id="org.glassfish.hk2.osgi-resource-locator.source" version="1.0.3.v20200509-0149"/>
<unit id="org.glassfish.jersey.core.jersey-client" version="0.0.0"/>
<unit id="org.glassfish.jersey.core.jersey-client.source" version="0.0.0"/>
<unit id="org.glassfish.jersey.core.jersey-common" version="0.0.0"/>
<unit id="org.glassfish.jersey.core.jersey-common.source" version="0.0.0"/>
<unit id="org.glassfish.jersey.core.jersey-server" version="0.0.0"/>
<unit id="org.glassfish.jersey.core.jersey-server.source" version="0.0.0"/>
<unit id="org.glassfish.jersey.media.jersey-media-json-jackson" version="0.0.0"/>
<unit id="org.glassfish.jersey.media.jersey-media-json-jackson.source" version="0.0.0"/>
<unit id="org.glassfish.jersey.containers.servlet" version="0.0.0"/>
<unit id="org.glassfish.jersey.containers.servlet.source" version="0.0.0"/>
<unit id="org.glassfish.jersey.containers.servlet.core" version="0.0.0"/>
<unit id="org.glassfish.jersey.containers.servlet.core.source" version="0.0.0"/>
<unit id="org.glassfish.jersey.ext.entityfiltering" version="0.0.0"/>
<unit id="org.glassfish.jersey.ext.entityfiltering.source" version="0.0.0"/>
<unit id="org.slf4j.api" version="0.0.0"/>
<repository location="https://download.eclipse.org/tools/orbit/downloads/drops/R20210602031627/repository/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.license.feature.group" version="0.0.0"/>
<repository location="https://download.eclipse.org/cbi/updates/license/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.platform.ide" version="0.0.0"/>
<unit id="org.eclipse.equinox.executable.feature.group" version="0.0.0"/>
<unit id="org.eclipse.pde.runtime" version="0.0.0"/>
<unit id="org.eclipse.pde.junit.runtime" version="0.0.0"/>
<unit id="org.eclipse.equinox.p2.discovery.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.equinox.p2.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.equinox.p2.core.feature.source.feature.group" version="0.0.0"/>
<unit id="org.eclipse.test.feature.group" version="0.0.0"/>
<unit id="org.eclipse.jdt.annotation" version="0.0.0"/>
<unit id="org.eclipse.swt.tools.spies" version="0.0.0"/>
<unit id="org.eclipse.ui.trace" version="0.0.0"/>
<unit id="org.eclipse.ui.views.log" version="0.0.0"/>
<unit id="org.eclipse.jdt.junit4.runtime" version="0.0.0"/>
<unit id="org.eclipse.e4.ui.progress" version="0.0.0"/>
<repository location="https://download.eclipse.org/eclipse/updates/4.20/R-4.20-202106111600/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.wst.xml.core" version="0.0.0"/>
<unit id="org.eclipse.wst.xml.ui" version="0.0.0"/>
<unit id="org.eclipse.wst.xsd.core" version="0.0.0"/>
<repository location="https://download.eclipse.org/webtools/downloads/drops/R3.22.0/R-3.22.0-20210612170523/repository/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.xsd" version="0.0.0"/>
<repository location="https://download.eclipse.org/modeling/emf/emf/builds/release/2.26/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.swtchart.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.swtchart.feature.source.feature.group" version="0.0.0"/>
<repository location="https://download.eclipse.org/swtchart/releases/0.12.0/repository/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.tracecompass.ctf.feature.group" version="0.0.0"/>
<unit id="org.eclipse.tracecompass.tmf.ctf.feature.group" version="0.0.0"/>
<unit id="org.eclipse.tracecompass.lttng2.ust.feature.group" version="0.0.0"/>
<unit id="org.eclipse.tracecompass.tmf.feature.group" version="0.0.0"/>
<unit id="org.eclipse.tracecompass.tmf.pcap.feature.group" version="0.0.0"/>
<unit id="org.eclipse.tracecompass.tmf.remote.feature.group" version="0.0.0"/>
<unit id="org.eclipse.tracecompass.testing.feature.group" version="0.0.0"/>
<unit id="org.eclipse.tracecompass.lttng2.kernel.feature.group" version="0.0.0"/>
<unit id="org.eclipse.tracecompass.lttng2.control.feature.group" version="0.0.0"/>
<unit id="org.eclipse.tracecompass.jsontrace.feature.group" version="0.0.0"/>
<unit id="org.eclipse.tracecompass.tmf.cli.feature.group" version="0.0.0"/>
<repository location="https://download.eclipse.org/tracecompass/2021-06/master/repository/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.tracecompass.rcp.feature.group" version="0.0.0"/>
<repository location="https://download.eclipse.org/tracecompass/2021-06/master/rcp-repository/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.nebula.widgets.opal.notifier.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.nebula.widgets.opal.duallist.feature.feature.group" version="0.0.0"/>
<repository location="https://download.eclipse.org/nebula/releases/2.5.0/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.lsp4j.sdk.feature.group" version="0.0.0"/>
<repository location="https://download.eclipse.org/releases/2021-06"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.ease.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.ease.lang.javascript.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.ease.lang.python.py4j.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.ease.python.jython.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.ease.ui.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.ease.modules.feature.feature.group" version="0.0.0"/>
<repository location="https://download.eclipse.org/ease/release/0.8.0/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.ease.engine.jython.feature.feature.group" version="0.0.0"/>
<repository id="ease-engines" location="https://eclipse-ease-addons.github.io/org.eclipse.ease.engines.p2/latest/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.py4j.feature.feature.group" version="0.0.0"/>
<repository location="https://eclipse.py4j.org"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.tracecompass.testtraces.tracecompass-test-traces-ctf" version="0.0.0"/>
<unit id="org.eclipse.tracecompass.testtraces.tracecompass-test-traces-ftrace" version="0.0.0"/>
<repository location="https://archive.eclipse.org/tracecompass/tracecompass-test-traces/repository/1.9.0/"/>
</location>
	<location includeDependencyDepth="infinite" includeDependencyScopes="provided,compile,system,runtime" includeSource="true" missingManifest="generate" type="Maven">
		<dependencies>
			<dependency>
				<groupId>jakarta.xml.bind</groupId>
				<artifactId>jakarta.xml.bind-api</artifactId>
				<version>2.3.3</version>
				<type>jar</type>
			</dependency>
		</dependencies>
	</location>
	<location includeDependencyDepth="infinite" includeDependencyScopes="provided,compile,system,runtime" includeSource="true" missingManifest="generate" type="Maven">
		<dependencies>
			<dependency>
				<groupId>com.sun.xml.bind</groupId>
				<artifactId>jaxb-osgi</artifactId>
				<version>2.3.3</version>
				<type>jar</type>
			</dependency>
		</dependencies>
	</location>
	<location includeDependencyDepth="infinite" includeDependencyScopes="provided,compile,system,runtime" includeSource="true" missingManifest="generate" type="Maven">
		<dependencies>
			<dependency>
				<groupId>jakarta.validation</groupId>
				<artifactId>jakarta.validation-api</artifactId>
				<version>2.0.2</version>
				<type>jar</type>
			</dependency>
		</dependencies>
	</location>
	<location includeDependencyDepth="infinite" includeDependencyScopes="provided,compile,system,runtime" includeSource="true" missingManifest="generate" type="Maven">
		<dependencies>
			<dependency>
				<groupId>org.glassfish.jersey.media</groupId>
				<artifactId>jersey-media-jaxb</artifactId>
				<version>2.30</version>
				<type>jar</type>
			</dependency>
		</dependencies>
	</location>
	<location includeDependencyDepth="infinite" includeDependencyScopes="provided,compile,system,runtime" includeSource="true" missingManifest="generate" type="Maven">
		<dependencies>
			<dependency>
				<groupId>io.swagger.core.v3</groupId>
				<artifactId>swagger-jaxrs2</artifactId>
				<version>2.1.13</version>
				<type>jar</type>
			</dependency>
		</dependencies>
	</location>
</locations>
<targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-11"/>
<launcherArgs>
<vmArgs>-Xms40m
-Xmx512M</vmArgs>
<programArgs>-consolelog</programArgs>
</launcherArgs>
</target>