<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.linuxtools.tmf.core.tracetype">
      <type
            category="org.eclipse.linuxtools.tmf.ctf.core.category.ctf"
            event_type="org.eclipse.tracecompass.tmf.ctf.core.event.CtfTmfEvent"
            id="org.eclipse.tracecompass.incubator.ros2.core.trace"
            isDirectory="true"
            name="%tracetype.type.ros2"
            trace_type="org.eclipse.tracecompass.incubator.internal.ros2.core.trace.Ros2Trace">
      </type>
      <experiment
            experiment_type="org.eclipse.tracecompass.incubator.internal.ros2.core.trace.Ros2Experiment"
            id="org.eclipse.tracecompass.incubator.ros2.core.trace.Ros2Experiment"
            name="%tracetype.experiment.ros2">
      </experiment>
   </extension>
   <extension
         point="org.eclipse.linuxtools.tmf.core.analysis">
      <module
            analysis_module="org.eclipse.tracecompass.incubator.internal.ros2.core.analysis.objects.Ros2ObjectsAnalysis"
            applies_experiment="true"
            automatic="true"
            icon="icons/ros2.png"
            id="org.eclipse.tracecompass.incubator.ros2.core.analysis.objects"
            name="%analysis.ros2.objects">
         <tracetype
               applies="true"
               class="org.eclipse.tracecompass.incubator.internal.ros2.core.trace.Ros2Trace">
         </tracetype>
         <tracetype
               applies="true"
               class="org.eclipse.tracecompass.incubator.internal.ros2.core.trace.Ros2Experiment">
         </tracetype>
      </module>
      <module
            analysis_module="org.eclipse.tracecompass.incubator.internal.ros2.core.analysis.messages.Ros2MessagesAnalysis"
            applies_experiment="true"
            automatic="true"
            icon="icons/ros2.png"
            id="org.eclipse.tracecompass.incubator.ros2.core.analysis.messages"
            name="%analysis.ros2.messages">
         <tracetype
               applies="true"
               class="org.eclipse.tracecompass.incubator.internal.ros2.core.trace.Ros2Trace">
         </tracetype>
         <tracetype
               applies="true"
               class="org.eclipse.tracecompass.incubator.internal.ros2.core.trace.Ros2Experiment">
         </tracetype>
      </module>
      <module
            analysis_module="org.eclipse.tracecompass.incubator.internal.ros2.core.analysis.executor.Ros2ExecutorAnalysis"
            applies_experiment="true"
            automatic="false"
            icon="icons/ros2.png"
            id="org.eclipse.tracecompass.incubator.ros2.core.analysis.executor"
            name="%analysis.ros2.executor">
         <tracetype
               applies="true"
               class="org.eclipse.tracecompass.incubator.internal.ros2.core.trace.Ros2Trace">
         </tracetype>
         <tracetype
               applies="true"
               class="org.eclipse.tracecompass.incubator.internal.ros2.core.trace.Ros2Experiment">
         </tracetype>
      </module>
      <module
            analysis_module="org.eclipse.tracecompass.incubator.internal.ros2.core.analysis.messageflow.Ros2MessageFlowAnalysis"
            applies_experiment="true"
            automatic="false"
            icon="icons/ros2.png"
            id="org.eclipse.tracecompass.incubator.ros2.core.analysis.messageflow"
            name="%analysis.ros2.messageflow">
         <tracetype
               applies="true"
               class="org.eclipse.tracecompass.incubator.internal.ros2.core.trace.Ros2Trace">
         </tracetype>
         <tracetype
               applies="true"
               class="org.eclipse.tracecompass.incubator.internal.ros2.core.trace.Ros2Experiment">
         </tracetype>
      </module>
      <module
            analysis_module="org.eclipse.tracecompass.incubator.internal.ros2.core.analysis.messagelinks.Ros2MessageCausalLinksAnalysis"
            applies_experiment="true"
            automatic="false"
            icon="icons/ros2.png"
            id="org.eclipse.tracecompass.incubator.ros2.core.analysis.messagelinks"
            name="%analysis.ros2.messagelinks">
         <tracetype
               applies="true"
               class="org.eclipse.tracecompass.incubator.internal.ros2.core.trace.Ros2Trace">
         </tracetype>
         <tracetype
               applies="true"
               class="org.eclipse.tracecompass.incubator.internal.ros2.core.trace.Ros2Experiment">
         </tracetype>
      </module>
   </extension>
   <extension
         point="org.eclipse.tracecompass.tmf.core.dataprovider">
      <dataProviderFactory
            class="org.eclipse.tracecompass.incubator.internal.ros2.core.analysis.messages.Ros2MessagesDataProviderFactory"
            id="org.eclipse.tracecompass.incubator.ros2.core.analysis.messages.dataprovider">
      </dataProviderFactory>
      <dataProviderFactory
            class="org.eclipse.tracecompass.incubator.internal.ros2.core.analysis.executor.Ros2ExecutorDataProviderFactory"
            id="org.eclipse.tracecompass.incubator.ros2.core.analysis.executor.dataprovider">
      </dataProviderFactory>
      <dataProviderFactory
            class="org.eclipse.tracecompass.incubator.internal.ros2.core.analysis.messageflow.Ros2MessageFlowDataProviderFactory"
            id="org.eclipse.tracecompass.incubator.ros2.core.analysis.messageflow.dataprovider">
      </dataProviderFactory>
   </extension>

</plugin>
