<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.linuxtools.tmf.core.analysis">
      <listener
            class="org.eclipse.tracecompass.incubator.internal.callstack.ui.views.flamechart.CallStackAnalysisListener">
      </listener>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="org.eclipse.linuxtools.tmf.ui.views.category"
            class="org.eclipse.tracecompass.incubator.internal.callstack.ui.views.functiondensity.FunctionDensityView"
            icon="icons/elcl16/funcdensity.png"
            id="org.eclipse.tracecompass.incubator.internal.callstack.ui.views.functiondensity.functionDensity"
            name="%view.functionDensity"
            restorable="true">
      </view>
      <view
            category="org.eclipse.linuxtools.tmf.ui.views.category"
            class="org.eclipse.tracecompass.incubator.internal.callstack.ui.flamegraph.FlameGraphView"
            icon="icons/elcl16/flame.png"
            id="org.eclipse.tracecompass.incubator.internal.callstack.ui.flamegraph.flamegraphView"
            name="%view.flameGraph"
            restorable="true">
      </view>
      <view
            category="org.eclipse.linuxtools.tmf.ui.views.category"
            class="org.eclipse.tracecompass.incubator.internal.callstack.ui.flamegraph.FlameGraphSelView"
            icon="icons/elcl16/flame.png"
            id="org.eclipse.tracecompass.incubator.internal.callstack.ui.flamegraph.flamegraphViewSel"
            name="%view.flameGraphSel"
            restorable="true">
      </view>
      <view
      		category="org.eclipse.linuxtools.tmf.ui.views.category"
            allowMultiple="true"
            class="org.eclipse.tracecompass.incubator.internal.callstack.ui.views.flamechart.FlameChartView"
            icon="icons/obj16/stckframe_obj.gif"
            id="org.eclipse.tracecompass.incubator.callstack.ui.views.flamechart"
            name="%view.flameChart"
            restorable="true">
      </view>
      <view
      		category="org.eclipse.linuxtools.tmf.ui.views.category"
            allowMultiple="true"
            class="org.eclipse.tracecompass.incubator.internal.callstack.ui.views.cct.CallingContextTreeView"
            icon="icons/obj16/stckframe_obj.gif"
            id="org.eclipse.tracecompass.incubator.callstack.ui.views.cct"
            name="%view.cct"
            restorable="true">
      </view>
      <view
            category="org.eclipse.linuxtools.tmf.ui.views.category"
            class="org.eclipse.tracecompass.incubator.internal.callstack.ui.views.stacktable.CallStackTableView"
            id="org.eclipse.tracecompass.incubator.internal.callstack.ui.views.stacktable"
            name="%view.stacktable"
            restorable="true">
      </view>
   </extension>
      <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.linuxtools.tmf.ui.commands.category"
            description="%command.configure_symbols.description"
            id="org.eclipse.tracecompass.incubator.callstack.ui.configure_symbols"
            name="%command.configure_symbols">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.tracecompass.incubator.internal.callstack.ui.handler.ConfigureSymbolHandler"
            commandId="org.eclipse.tracecompass.incubator.callstack.ui.configure_symbols">
         <activeWhen>
            <and>
               <count
                     value="1">
               </count>
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <or>
                     <instanceof
                           value="org.eclipse.tracecompass.tmf.ui.project.model.TmfTraceElement">
                     </instanceof>
                     <instanceof
                           value="org.eclipse.tracecompass.tmf.ui.project.model.TmfExperimentElement">
                     </instanceof>
                  </or>
               </iterate>
            </and>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <separator
               name="org.eclipse.tracecompass.extension.callstack1"
               visible="true">
         </separator>
        <command
              commandId="org.eclipse.tracecompass.incubator.callstack.ui.configure_symbols"
              label="%command.configure_symbols"
              style="push"
              tooltip="%command.configure_symbols.description">
           <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <or>
                        <instanceof
                              value="org.eclipse.tracecompass.tmf.ui.project.model.TmfTraceElement">
                        </instanceof>
                        <instanceof
                              value="org.eclipse.tracecompass.tmf.ui.project.model.TmfExperimentElement">
                        </instanceof>
                     </or>
                  </iterate>
               </with>
            </visibleWhen>
        </command>
      </menuContribution>
   </extension>
</plugin>
