<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.linuxtools.tmf.core.tracetype">
      <category
            id="org.eclipse.tracecompass.traceevent.core.traceevent"
            name="Trace Event Format">
      </category>
      <type
            category="org.eclipse.tracecompass.traceevent.core.traceevent"
            event_type="org.eclipse.tracecompass.tmf.core.event.TmfEvent"
            id="org.eclipse.tracecompass.incubator.traceevent.core.trace"
            isDirectory="false"
            name="Generic Trace Event Trace"
            trace_type="org.eclipse.tracecompass.incubator.internal.traceevent.core.trace.TraceEventTrace">
      </type>
   </extension>
   <extension
         point="org.eclipse.linuxtools.tmf.core.analysis">
      <module
            analysis_module="org.eclipse.tracecompass.incubator.internal.traceevent.core.analysis.callstack.TraceEventCallstackAnalysis"
            automatic="true"
            icon="icons/callstack_view.gif"
            id="org.eclipse.tracecompass.incubator.traceevent.analysis.callstack"
            name="%callstack.name">
         <tracetype
               applies="true"
               class="org.eclipse.tracecompass.incubator.internal.traceevent.core.trace.TraceEventTrace">
         </tracetype>
      </module>
      <module
            analysis_module="org.eclipse.tracecompass.incubator.internal.traceevent.core.analysis.counter.TraceEventCounterAnalysis"
            automatic="true"
            id="org.eclipse.tracecompass.incubator.traceevent.core.counter"
            name="%counter.name">
         <tracetype
               applies="true"
               class="org.eclipse.tracecompass.incubator.internal.traceevent.core.trace.TraceEventTrace">
         </tracetype>
      </module>
   </extension>
   <extension
         point="org.eclipse.linuxtools.tmf.analysis.xml.core.files">
      <xmlfile
            file="xml_analysis/GroupedTasksTraceEvent.xml">
      </xmlfile>
   </extension>

</plugin>
