<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.linuxtools.tmf.core.analysis">
      <output
            class="org.eclipse.tracecompass.tmf.ui.analysis.TmfAnalysisViewOutput"
            id="org.eclipse.tracecompass.incubator.contextswitch.ui.view">
         <analysisModuleClass
               class="org.eclipse.tracecompass.analysis.os.linux.core.contextswitch.KernelContextSwitchAnalysis">
         </analysisModuleClass>
      </output>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="org.eclipse.linuxtools.lttng2.ui.views.category"
            class="org.eclipse.tracecompass.incubator.internal.contextswitch.ui.view.ContextSwitchView"
            icon="icon/contextswitch.png"
            id="org.eclipse.tracecompass.incubator.contextswitch.ui.view"
            name="%view.contextswitch"
            restorable="true">
      </view>
   </extension>

</plugin>
