<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.linuxtools.tmf.core.tracetype">
      <type
            category="org.eclipse.linuxtools.tmf.ctf.core.category.ctf"
            event_type="org.eclipse.tracecompass.tmf.ctf.core.event.CtfTmfEvent"
            id="org.eclipse.tracecompass.incubator.ros.core.trace"
            isDirectory="true"
            name="%tracetype.type.ros"
            trace_type="org.eclipse.tracecompass.incubator.internal.ros.core.trace.RosTrace">
      </type>
      <experiment
            experiment_type="org.eclipse.tracecompass.incubator.internal.ros.core.trace.RosExperiment"
            id="org.eclipse.tracecompass.incubator.internal.ros.core.trace.RosExperiment"
            name="%tracetype.experiment.ros">
      </experiment>
   </extension>
   <extension
         point="org.eclipse.linuxtools.tmf.core.analysis">
      <module
            analysis_module="org.eclipse.tracecompass.incubator.internal.ros.core.analysis.nodes.RosNodesAnalysis"
            automatic="false"
            icon="icons/ros.png"
            id="org.eclipse.tracecompass.incubator.ros.core.analysis.nodes"
            name="%analysis.ros.nodes">
         <tracetype
               applies="true"
               class="org.eclipse.tracecompass.incubator.internal.ros.core.trace.RosTrace">
         </tracetype>
      </module>
      <module
            analysis_module="org.eclipse.tracecompass.incubator.internal.ros.core.analysis.queues.RosQueuesAnalysis"
            automatic="false"
            icon="icons/ros.png"
            id="org.eclipse.tracecompass.incubator.ros.core.analysis.queues"
            name="%analysis.ros.queues">
         <tracetype
               applies="true"
               class="org.eclipse.tracecompass.incubator.internal.ros.core.trace.RosTrace">
         </tracetype>
      </module>
      <module
            analysis_module="org.eclipse.tracecompass.incubator.internal.ros.core.analysis.tasks.RosTasksAnalysis"
            automatic="false"
            icon="icons/ros.png"
            id="org.eclipse.tracecompass.incubator.ros.core.analysis.tasks"
            name="%analysis.ros.tasks">
         <tracetype
               applies="true"
               class="org.eclipse.tracecompass.incubator.internal.ros.core.trace.RosTrace">
         </tracetype>
      </module>
      <module
            analysis_module="org.eclipse.tracecompass.incubator.internal.ros.core.analysis.connections.RosConnectionsAnalysis"
            automatic="false"
            icon="icons/ros.png"
            id="org.eclipse.tracecompass.incubator.ros.core.analysis.connections"
            name="%analysis.ros.connections">
         <tracetype
               applies="true"
               class="org.eclipse.tracecompass.incubator.internal.ros.core.trace.RosTrace">
         </tracetype>
      </module>
      <module
            analysis_module="org.eclipse.tracecompass.incubator.internal.ros.core.analysis.timers.RosTimersAnalysis"
            automatic="false"
            icon="icons/ros.png"
            id="org.eclipse.tracecompass.incubator.ros.core.analysis.timers"
            name="%analysis.ros.timers">
         <tracetype
               applies="true"
               class="org.eclipse.tracecompass.incubator.internal.ros.core.trace.RosTrace">
         </tracetype>
      </module>
      <module
            analysis_module="org.eclipse.tracecompass.incubator.internal.ros.core.analysis.model.connections.RosConnectionsModelAnalysis"
            automatic="false"
            icon="icons/ros.png"
            id="org.eclipse.tracecompass.incubator.ros.core.analysis.model.connections"
            name="%analysis.ros.model.connections">
         <tracetype
               class="org.eclipse.tracecompass.incubator.internal.ros.core.trace.RosExperiment">
         </tracetype>
      </module>
      <module
            analysis_module="org.eclipse.tracecompass.incubator.internal.ros.core.analysis.model.messagestransport.RosMessagesTransportModelAnalysis"
            icon="icons/ros.png"
            id="org.eclipse.tracecompass.incubator.ros.core.analysis.model.messagestransport"
            name="%analysis.ros.model.messagestransport">
         <tracetype
               class="org.eclipse.tracecompass.incubator.internal.ros.core.trace.RosExperiment">
         </tracetype>
      </module>
      <module
            analysis_module="org.eclipse.tracecompass.incubator.internal.ros.core.analysis.messageflow.RosMessageFlowAnalysis"
            applies_experiment="true"
            automatic="false"
            icon="icons/ros.png"
            id="org.eclipse.tracecompass.incubator.ros.core.analysis.messageflow"
            name="%analysis.ros.messageflow">
         <tracetype
               class="org.eclipse.tracecompass.incubator.internal.ros.core.trace.RosExperiment">
         </tracetype>
      </module>
   </extension>
   <extension
         point="org.eclipse.tracecompass.tmf.core.dataprovider">
      <dataProviderFactory
            class="org.eclipse.tracecompass.incubator.internal.ros.core.analysis.nodes.RosNodesDataProviderFactory"
            id="org.eclipse.tracecompass.incubator.ros.core.analysis.nodes.dataprovider">
      </dataProviderFactory>
      <dataProviderFactory
            class="org.eclipse.tracecompass.incubator.internal.ros.core.analysis.queues.RosQueuesDataProviderFactory"
            id="org.eclipse.tracecompass.incubator.ros.core.analysis.queues.dataprovider">
      </dataProviderFactory>
      <dataProviderFactory
            class="org.eclipse.tracecompass.incubator.internal.ros.core.analysis.tasks.RosTasksDataProviderFactory"
            id="org.eclipse.tracecompass.incubator.ros.core.analysis.tasks.dataprovider">
      </dataProviderFactory>
      <dataProviderFactory
            class="org.eclipse.tracecompass.incubator.internal.ros.core.analysis.connections.RosConnectionsDataProviderFactory"
            id="org.eclipse.tracecompass.incubator.ros.core.analysis.connections.dataprovider">
      </dataProviderFactory>
      <dataProviderFactory
            class="org.eclipse.tracecompass.incubator.internal.ros.core.analysis.timers.RosTimersDataProviderFactory"
            id="org.eclipse.tracecompass.incubator.ros.core.analysis.timers.dataprovider">
      </dataProviderFactory>
      <dataProviderFactory
            class="org.eclipse.tracecompass.incubator.internal.ros.core.analysis.messageflow.RosMessageFlowDataProviderFactory"
            id="org.eclipse.tracecompass.incubator.ros.core.analysis.messageflow.dataprovider">
      </dataProviderFactory>
   </extension>

</plugin>
