<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.linuxtools.tmf.core.tracetype">
      <category
            id="org.eclipse.tracecompass.incubator.perf.category"
            name="%perfdata.category.name">
      </category>
      <type
            category="org.eclipse.tracecompass.incubator.perf.category"
            event_type="org.eclipse.tracecompass.tmf.core.event.TmfEvent"
            id="org.eclipse.tracecompass.incubator.perf.core.trace"
            name="%perfdata.name"
            trace_type="org.eclipse.tracecompass.incubator.internal.perf.core.trace.PerfDataTrace">
      </type>
   </extension>
</plugin>
