<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.linuxtools.tmf.core.tracetype">
      <category
            id="org.eclipse.tracecompass.incubator.perf.category"
            name="%perfdata.category.name">
      </category>
      <type
            category="org.eclipse.tracecompass.incubator.perf.category"
            event_type="org.eclipse.tracecompass.tmf.core.event.TmfEvent"
            id="org.eclipse.tracecompass.incubator.perf.core.trace"
            name="%perfdata.name"
            trace_type="org.eclipse.tracecompass.incubator.internal.perf.core.trace.PerfDataTrace">
      </type>
   </extension>
   <extension
         point="org.eclipse.linuxtools.tmf.core.analysis">
      <module
            analysis_module="org.eclipse.tracecompass.incubator.internal.perf.core.analysis.PerfDataCallchainAnalysisModule"
            automatic="false"
            id="org.eclipse.tracecompass.incubator.perf.core.callchain"
            name="%perfdata.analysis.callchain">
         <tracetype
               applies="true"
               class="org.eclipse.tracecompass.incubator.internal.perf.core.trace.PerfDataTrace">
         </tracetype>
      </module>
      <module
            analysis_module="org.eclipse.tracecompass.incubator.internal.perf.core.symbol.PerfDataMmapAnalysisModule"
            automatic="true"
            id="org.eclipse.tracecompass.incubator.perf.core.symbol.mmap"
            name="%perfdata.analysis.mmap">
         <tracetype
               applies="true"
               class="org.eclipse.tracecompass.incubator.internal.perf.core.trace.PerfDataTrace">
         </tracetype>
      </module>
   </extension>
   <extension
         point="org.eclipse.tracecompass.tmf.core.symbolProvider">
      <providerFactory
            class="org.eclipse.tracecompass.incubator.internal.perf.core.symbol.PerfDataMmapSymbolProviderFactory"
            id="org.eclipse.tracecompass.incubator.perf.core.perfmmap"
            priority="75">
      </providerFactory>
   </extension>
</plugin>
