<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.linuxtools.lttng2.ui.views.category"
            class="org.eclipse.tracecompass.incubator.internal.kernel.ui.views.fileaccess.FileAccessByFileView"
            id="org.eclipse.tracecompass.incubator.kernel.ui.filebyfile"
            name="File Access (File)"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.linuxtools.tmf.core.analysis">
      <output
            class="org.eclipse.tracecompass.tmf.ui.analysis.TmfAnalysisViewOutput"
            id="org.eclipse.tracecompass.incubator.kernel.ui.filebyfile">
         <analysisModuleClass
               class="org.eclipse.tracecompass.incubator.internal.kernel.core.fileacess.FileAccessAnalysis">
         </analysisModuleClass>
      </output>
   </extension>

</plugin>
