<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.linuxtools.tmf.core.tracetype">
      <type
            category="org.eclipse.linuxtools.tmf.ctf.core.category.ctf"
            event_type="org.eclipse.tracecompass.tmf.core.event.TmfEvent"
            id="org.eclipse.tracecompass.incubator.rocm.core.trace.exatracer"
            isDirectory="true"
            name="Exatracer Trace"
            trace_type="org.eclipse.tracecompass.incubator.rocm.core.exatracer.trace.RocmExatracerTrace">
      </type>
      <type
            category="org.eclipse.linuxtools.tmf.ctf.core.category.ctf"
            event_type="org.eclipse.tracecompass.tmf.core.event.TmfEvent"
            id="org.eclipse.tracecompass.incubator.rocm.core.trace.ctfplugin"
            isDirectory="true"
            name="RocmCtfPlugin Trace"
            trace_type="org.eclipse.tracecompass.incubator.rocm.core.ctfplugin.trace.RocmCtfPluginTrace">
      </type>
   </extension>
</plugin>
