<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.linuxtools.tmf.ui.tracetypeui">
      <type
            icon="icons/trace-event.png"
            tracetype="org.eclipse.tracecompass.incubator.traceevent.core.trace">
      </type>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.tracecompass.incubator.internal.traceevent.ui.view.life.ObjectLifeView"
            class="org.eclipse.tracecompass.incubator.internal.traceevent.ui.view.life.ObjectLifeView"
            icon="icons/life.png"
            id="org.eclipse.tracecompass.incubator.traceevent.ui.view.life.objectlife.view"
            name="Object Lifespan Tracker"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.linuxtools.tmf.core.analysis">
      <output
            class="org.eclipse.tracecompass.tmf.ui.analysis.TmfAnalysisViewOutput"
            id="org.eclipse.tracecompass.incubator.traceevent.ui.view.life.objectlife.view">
         <analysisModuleClass
               class="org.eclipse.tracecompass.incubator.internal.traceevent.core.analysis.objectlife.ObjectLifeAnalysis">
         </analysisModuleClass>
      </output>
   </extension>
</plugin>
