<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.linuxtools.tmf.core.analysis">
      <module
            analysis_module="org.eclipse.tracecompass.incubator.internal.dpdk.core.lcore.analysis.DpdkLogicalCoreAnalysisModule"
            id="org.eclipse.tracecompass.incubator.dpdk.lcore.analysis"
            name="DPDK Logical Core Analysis">
         <tracetype
               applies="true"
               class="org.eclipse.tracecompass.incubator.dpdk.core.trace.DpdkTrace">
         </tracetype>
      </module>
      <module
            analysis_module="org.eclipse.tracecompass.incubator.internal.dpdk.core.ethdev.throughput.analysis.DpdkEthdevThroughputAnalysisModule"
            id="org.eclipse.tracecompass.incubator.dpdk.ethdev.throughput.analysis"
            name="DPDK Ethernet Throughput Analysis">
         <tracetype
               applies="true"
               class="org.eclipse.tracecompass.incubator.dpdk.core.trace.DpdkTrace">
         </tracetype>
      </module>
      <module
            analysis_module="org.eclipse.tracecompass.incubator.internal.dpdk.core.ethdev.spin.analysis.DpdkEthdevSpinAnalysisModule"
            id="org.eclipse.tracecompass.incubator.internal.dpdk.core.ethdev.spin.analysis"
            name="DPDK Ethernet Spin Analysis">
         <tracetype
               applies="true"
               class="org.eclipse.tracecompass.incubator.dpdk.core.trace.DpdkTrace">
         </tracetype>
      </module>
   </extension>
   <extension
         point="org.eclipse.tracecompass.tmf.core.dataprovider">
      <dataProviderFactory
            class="org.eclipse.tracecompass.incubator.internal.dpdk.core.lcore.analysis.DpdkLogicalCoreDataProviderFactory"
            id="org.eclipse.tracecompass.incubator.dpdk.lcore.dataprovider">
      </dataProviderFactory>
      <dataProviderFactory
            class="org.eclipse.tracecompass.incubator.internal.dpdk.core.ethdev.throughput.analysis.DpdkEthdevThroughputBpsDataProviderFactory"
            id="org.eclipse.tracecompass.incubator.dpdk.ethdev.throughput.bps.dataprovider">
      </dataProviderFactory>
      <dataProviderFactory
            class="org.eclipse.tracecompass.incubator.internal.dpdk.core.ethdev.throughput.analysis.DpdkEthdevThroughputPpsDataProviderFactory"
            id="org.eclipse.tracecompass.incubator.dpdk.ethdev.throughput.pps.dataprovider">
      </dataProviderFactory>
      <dataProviderFactory
            class="org.eclipse.tracecompass.incubator.internal.dpdk.core.ethdev.spin.analysis.DpdkEthdevSpinDataProviderFactory"
            id="org.eclipse.tracecompass.incubator.internal.dpdk.core.ethdev.spin.dataprovider">
      </dataProviderFactory>
   </extension>
   <extension
         point="org.eclipse.linuxtools.tmf.core.tracetype">
      <type
            category="org.eclipse.linuxtools.tmf.ctf.core.category.ctf"
            event_type="org.eclipse.tracecompass.tmf.ctf.core.event.CtfTmfEvent"
            id="org.eclipse.tracecompass.incubator.dpdk.core.trace"
            isDirectory="true"
            name="DPDK trace"
            trace_type="org.eclipse.tracecompass.incubator.dpdk.core.trace.DpdkTrace">
      </type>
   </extension>
</plugin>
