<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ease.modules">
      <module
            category="org.eclipse.tracecompass.incubator.scripting.core.category"
            class="org.eclipse.tracecompass.incubator.scripting.ui.views.ViewModule"
            id="org.eclipse.tracecompass.incubator.scripting.ui.views"
            name="View"
            visible="true">
      </module>
      <module
            category="org.eclipse.tracecompass.incubator.scripting.core.category"
            class="org.eclipse.tracecompass.incubator.scripting.ui.trace.TraceScriptingUI"
            id="org.eclipse.tracecompass.incubator.scripting.ui.trace"
            name="TraceUI"
            visible="true">
      </module>
      <module
            category="org.eclipse.tracecompass.incubator.scripting.core.category"
            class="org.eclipse.tracecompass.incubator.scripting.ui.callstack.CallStackUiScriptingModule"
            id="org.eclipse.tracecompass.incubator.scripting.ui.callstack"
            name="CallstackUI"
            visible="true">
      </module>
      <module
            category="org.eclipse.tracecompass.incubator.scripting.core.category"
            class="org.eclipse.tracecompass.incubator.scripting.ui.tracemarker.TraceMarkerScriptingModule"
            id="org.eclipse.tracecompass.incubator.scripting.ui.tracemarker"
            name="TraceMarker"
            visible="true">
      </module>
   </extension>
   <extension
            point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            category="org.eclipse.linuxtools.lttng2.ui.views.category"
            class="org.eclipse.tracecompass.incubator.internal.scripting.ui.views.histogram.ScriptedHistogramView"
            id="org.eclipse.tracecompass.incubator.internal.scripting.ui.views.histogram"
            name="%view.scriptedHistogramChart"
            restorable="true">
      </view>
   </extension>
   <extension
            point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            category="org.eclipse.linuxtools.lttng2.ui.views.category"
            class="org.eclipse.tracecompass.incubator.internal.scripting.ui.views.scatter.ScriptedScatterView"
            id="org.eclipse.tracecompass.incubator.internal.scripting.ui.views.scatter"
            name="%view.scriptedScatterChart"
            restorable="true">
      </view>
   </extension>
   <extension
            point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            category="org.eclipse.linuxtools.lttng2.ui.views.category"
            class="org.eclipse.tracecompass.incubator.internal.scripting.ui.views.timegraph.ScriptedTimeGraphView"
            id="org.eclipse.tracecompass.incubator.scripting.ui.view.timegraph"
            name="%view.scriptedTimeGraph"
            restorable="true">
      </view>
   </extension>
   <extension
            point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            category="org.eclipse.linuxtools.lttng2.ui.views.category"
            class="org.eclipse.tracecompass.incubator.internal.scripting.ui.views.xychart.ScriptedXYView"
            id="org.eclipse.tracecompass.incubator.internal.scripting.ui.views.xychart"
            name="%view.scriptedXYChart"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
            <command
            categoryId="org.eclipse.ui.category.file"
            defaultHandler="org.eclipse.tracecompass.incubator.internal.scripting.ui.project.handlers.LaunchAsEaseScriptHandler"
            description="%command.run_as_ease_script.description"
            id="org.eclipse.tracecompass.incubator.scripting.ui.command.launch_as_ease_script"
            name="%command.run_as_ease_script">
         <commandParameter
               id="org.eclipse.tracecompass.incubator.scripting.ui.commandparameter.launch_as_ease_script.type"
               name="%command.launch_as_ease_script.type"
               optional="false">
         </commandParameter>
         <commandParameter
               id="org.eclipse.tracecompass.incubator.scripting.ui.commandparameter.launch_as_ease_script.mode"
               name="%command.launch_as_ease_script.mode"
               optional="false">
         </commandParameter>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
         <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
            <menu
                  icon="icons/etool16/run_exc.png"
                  label="%command.run_as_ease_script"
                  tooltip="%command.run_as_ease_script.description">
            <dynamic
                  class="org.eclipse.tracecompass.incubator.internal.scripting.ui.project.handlers.RunAsElementTypeContributionItem"
                  id="org.eclipse.tracecompass.incubator.scripting.ui.command.run_as_ease_script.dynamic">
            </dynamic>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <and>
                        <iterate
                              ifEmpty="false"
                              operator="and">
                           <or>
                              <instanceof
                                    value="org.eclipse.tracecompass.tmf.ui.project.model.TmfTraceElement">
                              </instanceof>
                              <test
                                    forcePluginActivation="true"
                                    property="org.eclipse.tracecompass.incubator.scripting.ui.inTracingProject">
                              </test>
                           </or>
                        </iterate>
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.tracecompass.incubator.scripting.ui.hasEngine">
                     </test>
                  </and>
               </with>
            </visibleWhen>
         </menu>
         </menuContribution>
         <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
            <menu
                  icon="icons/etool16/debug_exc.png"
                  label="%command.debug_as_ease_script"
                  tooltip="%command.debug_as_ease_script.description">
            <dynamic
                  class="org.eclipse.tracecompass.incubator.internal.scripting.ui.project.handlers.DebugAsElementTypeContributionItem"
                  id="org.eclipse.tracecompass.incubator.scripting.ui.command.debug_as_ease_script.dynamic">
            </dynamic>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <and>
                        <iterate
                              ifEmpty="false"
                              operator="and">
                           <or>
                              <instanceof
                                    value="org.eclipse.tracecompass.tmf.ui.project.model.TmfTraceElement">
                              </instanceof>
                              <test
                                    forcePluginActivation="true"
                                    property="org.eclipse.tracecompass.incubator.scripting.ui.inTracingProject">
                              </test>
                           </or>
                        </iterate>
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.tracecompass.incubator.scripting.ui.hasDebugEngine">
                     </test>
                  </and>
               </with>
            </visibleWhen>

         </menu>
         </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.eclipse.tracecompass.incubator.internal.scripting.ui.project.handlers.ScriptEngineTester"
            id="org.eclipse.tracecompass.incubator.scripting.ui.engine"
            namespace="org.eclipse.tracecompass.incubator.scripting.ui"
            properties="hasEngine,hasDebugEngine"
            type="java.lang.Object">
      </propertyTester>
      <propertyTester
            class="org.eclipse.tracecompass.incubator.internal.scripting.ui.project.handlers.InTracingProjectTester"
            id="org.eclipse.tracecompass.incubator.scripting.ui.intracing.project"
            namespace="org.eclipse.tracecompass.incubator.scripting.ui"
            properties="inTracingProject"
            type="java.lang.Object">
      </propertyTester>
   </extension>
</plugin>
