<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="org.eclipse.linuxtools.tmf.ui.views.category"
            class="org.eclipse.tracecompass.incubator.internal.filters.ui.views.global.GlobalFilterView"
            icon="icons/eview16/filters_view.gif"
            id="org.eclipse.tracecompass.filters.views.global"
            name="%globalfilter.view.name"
            restorable="true">
      </view>
   </extension>

</plugin>
